@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);
.auth {
	height: 100%;
	min-height: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_960_720.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.auth__error {
	position: absolute;
	text-align: center;
	top: 90px;
	width: 100%;
	height: 50px;
	/* margin-bottom: 15px; */
	color: #d00000;
}

.auth__container {
	position: relative;
	height: 80%;
	max-height: 620px;
	background-color: white;
	padding: 25px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	margin: auto;
}

.auth__imgContainer {
	position: absolute;
	top: 20px;
	width: 50px;
	height: 50px;
}

.auth__imgContainer img {
	width: 100%;
	height: 100%;
}

.auth__form {
	width: 250px;
}

.auth__form__container {
	position: relative;
	height: 65px;
}

.auth__form__input {
	width: 100%;
	padding: 16px 10px 10px 10px;
	position: absolute;
	border: 2px solid rgba(216, 216, 216, 0.65098);
	border-radius: 5px;
	background-color: rgba(216, 216, 216, 0.65098);
	transition: border 0.5ms;
}

.auth__form__input:focus {
	border: 2px solid rgb(174, 0, 255);
}

.auth__form__label {
	position: absolute;
	top: 14px;
	left: 15px;
	color: #93a0ac;
	cursor: text;
	transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.auth__form__viewpassword {
	position: absolute;
	top: 23%;
	right: 10px;
	color: #93a0ac;
	cursor: pointer;
	transition: 0.3s ease;
}

.auth__form__viewpassword:hover {
	color: rgb(174, 0, 255);
}

.auth__form__input:focus ~ .auth__form__label,
.auth__form__input:not(:placeholder-shown) ~ .auth__form__label {
	top: 4px;
	font-size: 11px;
	left: 10px;
}

.auth__form__button {
	width: 100%;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	background-color: rgb(139, 0, 204);
	border-radius: 5px;
	border: none;
	font-weight: 800;
	transition: 0.3s ease;
}

.auth__form__button:hover {
	background-color: rgb(174, 0, 255);
}

.auth__forgot {
	color: rgb(139, 0, 204);
	border: none;
	background-color: transparent;
	transition: 0.3s ease;
}
.auth__forgot:hover {
	text-decoration: underline;
}

.auth__newaccount {
	display: flex;
	position: absolute;
	bottom: 15px;
}

.auth__newaccount p {
	color: #c7c5c5;
	margin-right: 5px;
}

.auth__newaccount button {
	display: inline;
	color: rgb(139, 0, 204);
	cursor: pointer;
	border: none;
	background-color: transparent;
	margin-top: 1.5px;
}

.auth__newaccount button:hover {
	text-decoration: underline;
}

.auth__register__form {
	margin-top: 100px;
}

.calendar__button {
	position: fixed;
	border-radius: 100%;
	font-size: 30px;
	bottom: 30px;
	z-index: 10;
	height: 70px;
	width: 70px;
	z-index: 10;
	transition: background-color 0.3s;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newEventButton {
	right: 35px;
	background-color: #0d6efd;
}
.newEventButton:hover {
	background-color: #0b5ed7;
}

.editEventButton {
	right: 35px;
	background-color: #ffa500;
	color: white;
}

.editEventButton:hover {
	background-color: #e79c0f;
}

.deleteEventButton {
	background-color: #dc3545;
	color: white;
	left: 25px;
}
.deleteEventButton:hover {
	background-color: #bb2d3b;
}

@media (max-width: 700px) {
	.newEventButton,
	.editEventButton,
	.deleteEventButton {
		font-size: 20px;
		height: 60px;
		width: 60px;
	}
	.newEventButton,
	.editEventButton {
		right: 25px;
	}
}

.navbar__nav {
	display: flex;
	background-color: rgba(0, 0, 0, 0.815);
	padding: 15px 20px;
	color: white;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.navbar__logout {
	cursor: pointer;
	color: red;
	margin-left: auto;
}

.navbar__button {
	padding: 10px;
	border: 1px solid #9d0208;
	background-color: transparent;
	transition: background-color 0.3s;
}

.navbar__button:hover {
	background-color: #d00000;
}

.navbar__logout__p {
	color: #fff;
	display: inline;
	margin-right: 5px;
}

.navbar__logout__p + .fa-sign-out-alt {
	margin-left: 5px;
	color: #fff;
}

._1HeRTJYMl-Q7cQLxtKM-9M {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 10;
}

._1s0CD_t_wSgy7iLBokKxm7 {
	border: 1px solid rgb(204, 204, 204);
	border-radius: 4px;
	background: rgb(255, 255, 255);
	outline: none;
	padding: 20px;
	width: 70%;
	height: 90%;
	overflow: auto;
	z-index: 11;
}

@media (max-width: 450px) {
	._1s0CD_t_wSgy7iLBokKxm7 {
		width: 95%;
	}
}

.modal__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 20px;
}

.modal__hr--first {
	border-top: 1px solid rgb(219, 219, 219);
}

.modal__close {
	cursor: pointer;
	color: rgb(180, 34, 34);
}

.modal__close:hover {
	color: rgb(255, 0, 0);
}

.modal__form {
	padding: 10px;
}

.modal__container {
	display: flex;
	flex-direction: column;
	margin: 5px 0px;
}

.modal__label {
	margin: 10px 0px;
}

.modal__input {
	border: 1px solid rgb(219, 219, 219);
	padding: 10px;
	border-radius: 5px;
	font-size: 16px;
	outline: transparent;
	transition: border 0.2s;
}

.modal__input:focus,
.modal__input[focus-within] {
	border: 1px solid #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal__input:focus,
.modal__input:focus-within {
	border: 1px solid #80bdff;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.modal__hr {
	margin-top: 20px;
	margin-bottom: 10px;
	border-top: 1px solid rgb(219, 219, 219);
}

.modal__small {
	color: rgb(165, 164, 164);
	margin: 5px;
}

.modal__button {
	padding: 10px;
	border: 1px solid #058e3f;
	width: 100%;
	background-color: transparent;
	transition: background-color 0.3s;
	border-radius: 5px;
	font-size: 14px;
}

.modal__button:hover {
	background-color: #4bb543;
}

.modal__button .fa-save {
	color: #058e3f;
	font-size: 15px;
}

.calendar__root {
	overflow-y: scroll;
	height: 100%;
}

.calendar__wrapper {
	min-width: 700px;
	min-height: 500px;
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html,
body,
#root {
	height: 100%;
}

button {
	cursor: pointer;
	outline: none;
}

button:focus,
input:focus {
	outline: none;
}

/* datapicker */
.react-datetime-picker__wrapper {
	border: none;
}
.react-datetime-picker__inputGroup__amPm {
	outline: transparent;
}
/* datapicker */

/* FULL CALENDAR */

:root {
	--fc-list-event-hover-bg-color: transparent;
}

.fc-h-event {
	background-color: #2a6bb5;
	border: medium solid transparent;
}

.fc-v-event {
	background-color: #2a6bb5;
}

.fc-daygrid-event-dot {
	border-color: #0ac200;
}

.fc-toolbar-chunk > .fc-button {
	padding: 0.5rem 1.1rem;
	font-size: 0.875rem;
	line-height: 1.5;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
	background-color: #1863e6;
	border-color: #165edb;
}

.fc .fc-button-primary,
.fc .fc-button-primary:focus {
	background-color: #4582ec;
	border-color: #4582ec;
	margin-right: 5px;
	box-shadow: none;
}

.fc .fc-button-primary:disabled {
	background-color: #4582ec;
	border-color: #4582ec;
}

.fc .fc-button-primary:hover,
.fc-button-active {
	background-color: #1863e6;
	border-color: #165edb;
}

.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
	margin-left: 5px;
}

.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
	box-shadow: none;
}

.selectedEvent,
.selectedEvent:hover {
	background-color: #0093fc;
	transition: 0.2s;
	z-index: 99999 !important;
}

@media (max-width: 760px) {
	.fc .fc-toolbar-title {
		font-size: 21px;
	}
}

/* FULL CALENDAR */

/* UTILS */
.opacity-0 {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
}
.opacity-1 {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s, visibility 0.3s;
}
/* UTILS */

