.auth {
	height: 100%;
	min-height: 620px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url('https://cdn.pixabay.com/photo/2017/06/21/07/33/background-2426328_960_720.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.auth__error {
	position: absolute;
	text-align: center;
	top: 90px;
	width: 100%;
	height: 50px;
	/* margin-bottom: 15px; */
	color: #d00000;
}

.auth__container {
	position: relative;
	height: 80%;
	max-height: 620px;
	background-color: white;
	padding: 25px;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	margin: auto;
}

.auth__imgContainer {
	position: absolute;
	top: 20px;
	width: 50px;
	height: 50px;
}

.auth__imgContainer img {
	width: 100%;
	height: 100%;
}

.auth__form {
	width: 250px;
}

.auth__form__container {
	position: relative;
	height: 65px;
}

.auth__form__input {
	width: 100%;
	padding: 16px 10px 10px 10px;
	position: absolute;
	border: 2px solid rgba(216, 216, 216, 0.65098);
	border-radius: 5px;
	background-color: rgba(216, 216, 216, 0.65098);
	transition: border 0.5ms;
}

.auth__form__input:focus {
	border: 2px solid rgb(174, 0, 255);
}

.auth__form__label {
	position: absolute;
	top: 14px;
	left: 15px;
	color: #93a0ac;
	cursor: text;
	transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.auth__form__viewpassword {
	position: absolute;
	top: 23%;
	right: 10px;
	color: #93a0ac;
	cursor: pointer;
	transition: 0.3s ease;
}

.auth__form__viewpassword:hover {
	color: rgb(174, 0, 255);
}

.auth__form__input:focus ~ .auth__form__label,
.auth__form__input:not(:placeholder-shown) ~ .auth__form__label {
	top: 4px;
	font-size: 11px;
	left: 10px;
}

.auth__form__button {
	width: 100%;
	padding: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	color: white;
	background-color: rgb(139, 0, 204);
	border-radius: 5px;
	border: none;
	font-weight: 800;
	transition: 0.3s ease;
}

.auth__form__button:hover {
	background-color: rgb(174, 0, 255);
}

.auth__forgot {
	color: rgb(139, 0, 204);
	border: none;
	background-color: transparent;
	transition: 0.3s ease;
}
.auth__forgot:hover {
	text-decoration: underline;
}

.auth__newaccount {
	display: flex;
	position: absolute;
	bottom: 15px;
}

.auth__newaccount p {
	color: #c7c5c5;
	margin-right: 5px;
}

.auth__newaccount button {
	display: inline;
	color: rgb(139, 0, 204);
	cursor: pointer;
	border: none;
	background-color: transparent;
	margin-top: 1.5px;
}

.auth__newaccount button:hover {
	text-decoration: underline;
}
