.calendar__button {
	position: fixed;
	border-radius: 100%;
	font-size: 30px;
	bottom: 30px;
	z-index: 10;
	height: 70px;
	width: 70px;
	z-index: 10;
	transition: background-color 0.3s;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.newEventButton {
	right: 35px;
	background-color: #0d6efd;
}
.newEventButton:hover {
	background-color: #0b5ed7;
}

.editEventButton {
	right: 35px;
	background-color: #ffa500;
	color: white;
}

.editEventButton:hover {
	background-color: #e79c0f;
}

.deleteEventButton {
	background-color: #dc3545;
	color: white;
	left: 25px;
}
.deleteEventButton:hover {
	background-color: #bb2d3b;
}

@media (max-width: 700px) {
	.newEventButton,
	.editEventButton,
	.deleteEventButton {
		font-size: 20px;
		height: 60px;
		width: 60px;
	}
	.newEventButton,
	.editEventButton {
		right: 25px;
	}
}
