.navbar__nav {
	display: flex;
	background-color: rgba(0, 0, 0, 0.815);
	padding: 15px 20px;
	color: white;
	align-items: center;
	width: 100%;
	margin-bottom: 10px;
}

.navbar__logout {
	cursor: pointer;
	color: red;
	margin-left: auto;
}

.navbar__button {
	padding: 10px;
	border: 1px solid #9d0208;
	background-color: transparent;
	transition: background-color 0.3s;
}

.navbar__button:hover {
	background-color: #d00000;
}

.navbar__logout__p {
	color: #fff;
	display: inline;
	margin-right: 5px;
}

.navbar__logout__p + .fa-sign-out-alt {
	margin-left: 5px;
	color: #fff;
}
